$global-font-size: 20px;
$global-color: #274562;
$global-emphasis-color: #274562;
$global-muted-color: #b1c3cf;
$global-primary-background: #274562;
$global-large-font-size: 3rem;
$text-large-line-height: 3rem;
